*{
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    
    font-family: sans-serif;
    /* background-color:gray; */
    display: flex;
    top:0;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 100vh;
}

@media(min-width:920px) {
    body {
        background-image:url("../img/background.jpg");
        display: block;
    }
}