*{
    box-sizing: border-box;
}

body {
    background-image:url("../img/background.jpg");
    
    font-family: sans-serif;
    /* background-color:gray; */
    top:0;
    background-repeat: no-repeat;
    background-size: cover; 
}