.con-principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cuerpo {
    top:50px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--tiny-size);
}