@media(min-width:920px) {
    .cuerpo {
        margin-top:90px;
        max-width: 920px;
        min-height: 479px;
        height: 479px;
        background: radial-gradient(circle,#FFFFFF,#FFFFFF,rgb(161, 226, 226));
    }
}

@media(min-width:1600px) {
    .cuerpo {
        margin-top:150px;
        max-width: 1500px;
        min-height: 782px;
        height: 782px;
    }

}