@import url(cuerpo-media.css);

@media(min-width:610px){
    .producto__otros-productos {
        transform: translateY(-13.5%);
    }
}


@media(min-width:920px){

    a{
        text-decoration: none;
    }

    .detalle_producto {
        color: black;
        position: relative;
    }

    .producto__contenedor {
        border-left: 7px solid #ffcc00;
        width: 74%;
        height: 96%;
        background: linear-gradient(rgb(104, 201, 214),#FFFFFF);
        position:absolute;
        left: 1%

    }

    .producto__detalles_titulo {
        
        background: transparent;
        border: 1px solid transparent;

        width:55%;
        height: 100%;
        display:flex;
    }

    .menu__item{
        color: black
    }

    .producto__detalles_titulo h1{
        color: var(--primary-color);
        width: 90%;
        font-weight: normal;
        font-size: 40px;
        margin:0;
        height: 150px;
    }

    .producto__detalles_titulo h1 span{
        font-weight: bold;
    }

    .producto__contenedor img {
        width: 45%;
        padding-left: 10px;
    }

    .producto__otros-productos {
        width: 23%;
        position:absolute;
        right: 1%;
        height: 96%;
        background-color: transparent;
        padding-top:0;
        transform: translateY(0);
    }

    .otro-producto {
        box-shadow: 0 0 10px transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 33%;
        background: radial-gradient(circle,#FFFFFF,rgb(161, 226, 226));
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin:0;
    }

    .otro-producto-imagen {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;   
    }

    .otro-producto:after/* , .otro-producto-imagen:after */{
        position:absolute;
        content:'';
        width: 100%;
        height:100%;
        background-image: radial-gradient(circle,white, #ffd900);
        transition: opacity 0.25s ease-out;
        opacity: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .otro-producto:hover::after/* , .otro-producto-imagen:hover:after  */{
        opacity: 1;
    }

    .otro-producto img, .otro-producto p {
        position: relative;
        z-index: 3;
    }


    .otro-producto-imagen img {
        transform: scale(.8, .8);
    }

    .otro-producto p {
        color: black;
        position: absolute;
        font-size: var(--tiny-size);
        bottom:3%;
        background: transparent;
        font-weight: normal;
        padding:0;
        text-align:right;
        height: auto;
        width: 200px;
    }


    .pedido {
        color: var(--primary-color);
        font-weight: normal;
        background: transparent;
        box-shadow: 0 0 10px transparent;
        border: 1px solid var(--accent-color);
        position: absolute;
        border-radius: 2px;
        padding:5px;
        right: 2%;
        bottom: 0;
        width:150px;
    }

    .pedido span{

        font-weight: bold;
    }

}