.footer {
    display: flex;
    align-self: flex-end;
    width: 100%;
    max-width: 920px;
    background-color: var(--secondary-color);
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 0 2px black;
}

.lista-footer{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    
}

.lista-footer__item{
    flex: auto;
    margin-right: 10px;
    color: black;
    font-size: var(--tiny-size);
}


.lista-footer__item a{
    text-decoration: none;
    color: black;
}


