@keyframes slidy {
    
    /* 0% { left: -200%; }
    10% { left: -200%; }
    20% { left: -200%; }
    35% { left: -200%; }
    55% { left: -200%; }
    65% { left: -200%; }
    80% { left: -200%; }
    90% { left: -200%; }
    100% { left: -200%; } */

    0% { left: 0%; }
    10% { left: 0%; }
    20% { left: 0%; }
    35% { left: -100%; }
    55% { left: -100%; }
    65% { left: -100%; }
    80% { left: -200%; }
    90% { left: -200%; }
    100% { left: 0%; }

}

.inicio {
    /* width: 90%; */
    overflow-x: hidden;
    height: calc(100vh - 133px);
    background-color: var(--primary-color);
}

.slider {
    position: relative;
    width: 300%; /* el 100% multiplicado por la cantidad de imagenes */
    font-size: 0;
    animation: 20s slidy infinite;
    margin:0;
}

.inicio__slide {
    width: calc(100% / 3); /* el 100% dividido por la cantidad de imagenes */
    height: auto;
    display: inline-block; 
    position: inherit; 
    top: 0;
    margin: 0;
}

.slide__imagen {
    width: 100%;
    height: auto; 
}

.slide__descripcion {
    display: block;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: var(--medium-size);
    padding: 20px;
    height: 100%;
    transform: translateY(100%);
}

.contenedor-slider {
    width: 100%;
}

.slide-des__title {
    font-size: var(--big-size);
    font-weight: bold;
}

.slide__con_productos {
    height: 100%;
}

[class^="slide__imagen-producto"] {
    /* display: flex; */
    max-width:60px;
}

/* .slide__imagen-producto-1 {
    bottom:10%;
}

.slide__imagen-producto-2 {
    bottom:10%;
}

.slide__imagen-producto-3 {
    bottom:10%;
}

.slide__imagen-producto-4 {
    bottom:10%;
}

.slide__imagen-producto-5 {
    bottom:10%;
} */

