.productos {
    background-color: var(--primary-color);
    padding: 0;
    color: var(--secondary-color);
    /* min-height: calc(100vh - 133px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.productos__title {
    width: 90%;
    text-align: center;
    margin: 25px auto;
}

.producto, .otro_producto, .informacion{
    text-decoration: none;
    color: var(--secondary-color);
}

.productos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.producto {
    /* padding: 10px; */
    /* background: var(--primary-color); */
    box-shadow: 0 0 10px black;
    margin: 0 10px 20px;
    border-radius: 2px;
    position: relative;
    width: 285px;
}

.producto__imagen {
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, .45);*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle,#FFFFFF,#FFFFFF,rgb(161, 226, 226)); */
    background: radial-gradient(circle,rgb(161, 226, 226),rgb(161, 226, 226),#14a1d0,#14a1d0);
    height: 150px;
}


.producto:nth-child(-n+4) .producto__imagen {
    background: radial-gradient(circle,#FFFFFF,#FFFFFF,rgb(161, 226, 226));
}




.producto__nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0;
    background: #D32F2F;
    /* color: var(--primary-color); */
    font-weight: bold;
    padding: 15px;
}

.productos__extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--medium-size);
    font-weight: bold;
}

.otro_producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0099ff,#003399);
    width: 100%;
    height: 200px;
    
}

.informacion {
    background: linear-gradient(#0099ff,#003399);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

[class^="info__"] {
    width: 50%;
}

[class^="info__"] img {
    width: 50px;
}

[class^="info__"] p {
    margin: 15px 2px;
    text-align: center;
}

.info__1{
    padding: 25px 1px 15px 6px;
}

.info__2{
    padding: 25px 6px 15px 1px;
}