@import url(cuerpo-media.css);

@media(min-width:920px) {
    .productos {
        color: black;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .producto, .otro_producto, .informacion{
        text-decoration: none;
        color: black;
    }
}