@import url(cuerpo-media.css);

@media(min-width:640px) {
    .productos__extra{
        flex-wrap: nowrap;
        width: 100%;
    }

    .otro_producto {
        width:50%;
        height: 340px;
        flex-wrap: nowrap;
        flex-direction: column;
        background: linear-gradient(to right,#0099ff,#003399);
    }

    .informacion {
        width: 50%;
        height: 340px;
        flex-wrap: nowrap;
        flex-direction: column;
        background: linear-gradient(to right,#0099ff,#003399);
    }

    [class^="info__"] {
        width: 100%;
    }

    [class^="info__"] p {
        max-width:315px;
        margin: 15px auto;
    }
}

@media(min-width:920px) {

/*     @keyframes cambio-background-1{
        10% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        60% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        80% {background: radial-gradient(circle,#FFFFFF,#FFFFFF,rgb(161, 226, 226));}
        90% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        95% {background: radial-gradient(circle,#FFFFFF,#FFFFFF,rgb(161, 226, 226));}
    }


    @keyframes cambio-background-2{
        10% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        60% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        80% {background: radial-gradient(circle,rgb(161, 226, 226),rgb(161, 226, 226),#14a1d0,#14a1d0);}
        90% {background: radial-gradient(circle,#0099ff,#0099ff,#003399);}
        95% {background: radial-gradient(circle,rgb(161, 226, 226),rgb(161, 226, 226),#14a1d0,#14a1d0);}
    }

    @keyframes cambio-background-3{
        10% {background: linear-gradient(to top,#0099ff,#003399);}
        60% {background: linear-gradient(to top,#0099ff,#003399);}
        80% {background: linear-gradient(#0099ff,#003399);}
        90% {background: linear-gradient(to top,#0099ff,#003399);}
        95% {background: linear-gradient(#0099ff,#003399);}
    } 
*/


    .productos {
        color: black;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .producto, .otro_producto, .informacion{
        text-decoration: none;
        color: black;
    }

    .vista__productos {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: var(--small-size);
    }

    .productos__extra {
        width: 15%;
        flex-wrap: wrap;
        font-size: var(--tiny-size);
        justify-content: center;
        position: absolute;
        right: 0;
    }

    .otro_producto {
        width:100%;
        height: 233px;
        background: linear-gradient(#0099ff,#003399);
        margin-bottom:2px;
        margin-top: 4px;
        color: white;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        backface-visibility: hidden;
    }

    .informacion {
        width:100%;
        height: 233px;
        background: linear-gradient(#0099ff,#003399);
        margin-bottom:4px;
        margin-top: 2px;
        color: white;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        backface-visibility: hidden;
    }

    [class^="info__"] {
        padding:0;
    }

    [class^="info__"] p {
        margin: 5px auto;
        
    }

    .productos__extra p {
        width: 105px;
    }

    [class^="info__"] img {
        width: 35px;
    }

    .otro_producto img{
        width:65px;
    }

    .producto {
        width: 18%;
        box-shadow: 0 0 10px transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .productos__title {
        color: var(--primary-color);
        font-weight: normal;
        margin-top: 0;
    }

    .productos__title span{
        font-weight: bold;
    }

    .productos__lista {
        justify-content: space-evenly;
    }


    .producto__imagen {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, .45);
        height:120px;
        width: 120px;
        backface-visibility: hidden;
    }

    .producto__imagen:after{
        position: absolute;
        content: '';
        height:120px;
        width: 120px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: radial-gradient(circle,#0099ff,#0099ff,#003399);
        transition: opacity .6s ease-out;
		opacity: 0;
    }

    .producto__imagen:hover:after {
        opacity: 1;
    }

    .producto__imagen img {
        position: relative;
		z-index: 3;
    }
    
    .producto:nth-child(n+5) .producto__imagen {
        height:80px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .producto:nth-child(n+5) .producto__imagen:after {
        height:80px;
        width: 150px;
    }

    .otro_producto:after, .informacion:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 233px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        background-image: linear-gradient(to top,#0099ff,#003399);
        transition: opacity 0.25s ease-out;
		opacity: 0;
    }

    .otro_producto:hover:after, .informacion:hover:after{
        opacity: 1;
    }

    .otro_producto img, .otro_producto p , .informacion .info__1, .informacion .info__2 {
        position: relative;
		z-index: 3;
    }


    
    .producto__nombre {
        color: #758d9d;
        background: transparent;
        padding: 0;
        
    }

    .producto:nth-child(n+5){
        width: 170px;
        justify-content: flex-end;
        margin:0;
        transform: translateY(30px);
    }

}
