.servicios {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    line-height: 1.45;
}



.servicios__lista {
    font-size: var(--medium-size);
    line-height: 1.5;
    list-style: none;
    padding-left: 10px;
}
